<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<style>
			#PL {
				width: 500px;
				height: 400px;
			}
			#OS {
				width: 500px;
				height: 400px;
			}
			#Data_base {
				width: 500px;
				height: 400px;
			}
		</style>
	</head>
	<body>
		<div id="PL"></div>
		<div id="OS"></div>
		<div id="Data_base"></div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/flot@4.2.2/dist/es5/jquery.flot.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/flot@4.2.2/source/jquery.flot.pie.js"></script>
		<script>
			$(function () {
				var data = [
					{ label: "PHP", data: 50, color: "#9F35FF" },
					{ label: "Javascript", data: 20, color: "#E1E100" },
					{ label: "CSS", data: 20, color: "#0080FF" },
					{ label: "Python", data: 10, color: "#005AB5" },
				];

				var options = {
					series: {
						pie: { show: true },
					},
					legend: { show: false },
				};

				$.plot($("#PL"), data, {
					series: {
						pie: {
							show: true,
						},
					},
				});
			});

			$(function () {
				var data = [
					{ label: "Linux", data: 40, color: "#4A4AFF" },
					{ label: "Windows7、10、11", data: 40, color: "#0080FF" },
					{ label: "ESXI", data: 10, color: "#005AB5" },
					{ label: "Proxmox", data: 10, color: "#FF8000" },
				];

				var options = {
					series: {
						pie: { show: true },
					},
					legend: { show: false },
				};

				$.plot($("#OS"), data, {
					series: {
						pie: {
							show: true,
						},
					},
				});
			});

			$(function () {
				var data = [
					{ label: "Mysql", data: 80, color: "#FFA042" },
					{ label: "Access", data: 20, color: "#AD5A5A" },
				];

				var options = {
					series: {
						pie: { show: true },
					},
					legend: { show: false },
				};

				$.plot($("#Data_base"), data, {
					series: {
						pie: {
							show: true,
						},
					},
				});
			});
		</script>
	</body>
</html>
